.slider-options-palette {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
  gap: 10px 20px;
  justify-content: space-between;

  &__li {
    max-width: 100px;
  }
  &__input {
    max-width: 100px;
  }
  &__li_checkbox {
    grid-column: 1 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 220px;
  }
  &__label {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100px;
    flex-wrap: nowrap;
  }
}