.slider-container1
    .slider1
    p AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAaaaBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBb

.slider-container2
    .slider2

.slider-container3
    .slider3


.slider-container4
    .slider4
    h2 Привет, Пятачок!!