mixin usage-examples()
  .usage-examples
    .usage-examples__container
      .js-usage-examples__sliderA
      -
        let i = 65;
        let arr = new Array(58).fill(1).map(item => i++);
        let content = String.fromCodePoint(...arr);
      .usage-examples__text= content

    .usage-examples__container
      .js-usage-examples__sliderB
      .usage-examples__letter A

    .usage-examples__container
      .js-usage-examples__sliderC
      .usage-examples__img