include ../js-slider/js-slider

mixin usage-examples()
  .usage-examples
    .usage-examples__container
      +js-slider('D')
      -
        let i = 65;
        const arr = new Array(58).fill(1).map(item => i++);
        const content = String.fromCodePoint(...arr);
      .usage-examples__text= content

    .usage-examples__container
      +js-slider('E')
      .usage-examples__letter A

    .usage-examples__container
      +js-slider('F')
      .usage-examples__img