@import "src/assets/blocks/template/template.scss";
// @import "src/assets/blocks/range-slider/range-slider.scss";
@import "src/assets/blocks/mySlider/mySlider.scss";

body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    gap: 0px;
    grid-template-areas:
        "test letter"
        "test bird"
        "test line";
}

.slider-container1 {
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 50px;
    grid-area: line;

    p {
        padding-top: 30px;
        font-size: medium;
        font-weight: bolder;
        word-break: break-all;
        text-align: center;
    }
}

.slider-container2 {
    width: 500px;
    // height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-area: letter;

    span {
        // position: absolute;
        font-size: 150px;
        text-shadow: -10px 19px 7px grey;
        left: 300px;
    }
}

.slider-container3 {
    grid-area: bird;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    .slider3 {
        width: 200px;
        margin-top: 100px;
    }

    .imgSprite {
        width: 183.6px;
        height: 168.66px;
        background: url("/src/assets/images/hotpng.com.png") no-repeat left top;
    }
}

.slider-container4 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 500px;
    grid-area: test;
    padding: 30px;
    padding-top: 70px;
}
h2 {
    // margin-top: 10px;
}
