@import "src/assets/blocks/template/template.scss";
// @import "src/assets/blocks/range-slider/range-slider.scss";
@import "src/assets/blocks/mySlider/mySlider.scss";

.examples {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr;
    grid-template-rows: auto auto;
    // height: 100vh;
    gap: 0px;
    // grid-template-areas:
    //     "test letter"
    //     "test bird"
    //     "test line";
    // grid-template-areas:
    //     "test1 test2"
    //     "test3 test4"
    //     "letter bird"
    //     "line line";
    grid-template-areas:
        "test1 test2"
        "test3 test4";
    row-gap: 20px;
}

@for $i from 1 through 4 {
    .example#{$i} {
        grid-area: test#{$i};
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        justify-content: space-around;
        align-items: center;
    }
}
@for $i from 1 to 9 {
    .slider#{$i} {
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.slider-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 20px;
    justify-content: space-between;

    &__li {
        max-width: 100px;
    }
    &__input {
        max-width: 100px;
    }
    &__li_checkbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 100px;
    }
    &__label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.slider-container5 {
    width: 400px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 50px;
    grid-area: line;

    p {
        padding-top: 30px;
        font-size: medium;
        font-weight: bolder;
        word-break: break-all;
        text-align: center;
    }
}

.slider-container6 {
    width: 500px;
    // height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-area: letter;

    span {
        // position: absolute;
        font-size: 150px;
        text-shadow: -10px 19px 7px grey;
        left: 300px;
    }
}

.slider-container8 {
    grid-area: bird;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;

    .slider8 {
        width: 200px;
        margin-top: 100px;
    }

    .imgSprite {
        width: 183.6px;
        height: 168.66px;
        background: url("/src/assets/images/hotpng.com.png") no-repeat left top;
    }
}
