extends ../assets/blocks/template/template.pug

block includes

block variables
    - 
        var titleName = 'SLIDERS'
block content

    .slider-container1
        .slider1
        -
            let i = 65;
            let arr = new Array(58).fill(1).map(item => i++);
            let pContent = String.fromCodePoint(...arr);

        p=  pContent 


    .slider-container2
        span A
        .slider2

    .slider-container3
        .imgSprite
        .slider3
    .slider-container4
        .slider4
        h2 Привет, Пятачок!!

    .slider-container5
        .slider5
        input(type="text" name="min" value = "min")
        input(type="text" name="max" value = "map")


