.slider {
  //ВАЖНО! В имени класса не должно содержаться слов 'left' 'right',
  // т.к. эти строки влияют на логику работы
  width: 100%;
  height: 6px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

  &__thumb-left,
  &__thumb-right {
    width: 12px;
    height: 12px;
    box-sizing: content-box;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    cursor: move;
    z-index: 1000;
  }

  &__hint {
    position: absolute;
    top: -30px;
    font-size: 16px;
    cursor: default;
    padding-right: 5px;
  }

  &__thumb_moving::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 4px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }

  &__thumb-left {
    left: 0;
  }
  &__thumb-right {
    right: 0;
  }

  &__scale {
    position: relative;
    top: 10px;
    user-select: none;
  }

  &__scale-points {
    position: absolute;
    cursor: pointer;
  }

  &__stretcher {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    position: absolute;
    height: 6px;
    top: -1px;
  }
}
